name: yttrium_dart
description: "Yttrium is a cross-platform library designed for working with smart accounts, currently focused on the Ethereum ecosystem."
version: 0.0.1
# homepage: https://github.com/reown-com/reown_flutter
# repository: https://github.com/reown-com/reown_flutter/tree/master/packages/reown_walletkit

environment:
  sdk: ^3.5.4
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_rust_bridge: ^2.7.0
  flutter_web_plugins:
    sdk: flutter
  freezed_annotation: ^2.4.4
  plugin_platform_interface: ^2.0.2
  web: ^0.5.1

dev_dependencies:
  build_runner: ^2.4.13
  ffi: ^2.1.3
  ffigen: ^16.0.0
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  freezed: ^2.5.7

flutter:
  plugin:
    platforms:
      android:
        package: com.reown.yttrium_dart
        pluginClass: YttriumDartPlugin
      ios:
        pluginClass: YttriumDartPlugin
      linux:
        pluginClass: YttriumDartPlugin
      macos:
        pluginClass: YttriumDartPlugin
      windows:
        pluginClass: YttriumDartPluginCApi
      web:
        pluginClass: YttriumDartWeb
        fileName: yttrium_dart_web.dart
