[submodule "crates/yttrium/safe-smart-account"]
	path = crates/yttrium/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
[submodule "crates/yttrium/safe-modules"]
	path = crates/yttrium/safe-modules
	url = https://github.com/safe-global/safe-modules
[submodule "test/scripts/forked_state/mock-aa-environment"]
	path = test/scripts/forked_state/mock-aa-environment
	url = https://github.com/WalletConnect/mock-aa-environment.git
