/target
/Cargo.lock
.vscode
.env
.DS_Store
.direnv/*

.build
DerivedData
/.previous-build
xcuserdata
.DS_Store
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
*.xcodeproj
Utilities/Docker/*.tar.gz
.swiftpm
Package.resolved
/build
*.pyc
.docc-build
.vscode
Utilities/InstalledSwiftPMConfiguration/config.json
.devcontainer
.cursorignore
/crates/kotlin-ffi/jniLibs
/crates/kotlin-ffi/bindings/com/reown/kotlin/ffi/yttrium
