[submodule "crates/yttrium/src/contracts"]
	path = crates/yttrium/src/contracts
	url = https://github.com/eth-infinitism/account-abstraction.git
[submodule "crates/yttrium/safe-smart-account"]
	path = crates/yttrium/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
[submodule "crates/yttrium/safe-modules"]
	path = crates/yttrium/safe-modules
	url = https://github.com/safe-global/safe-modules
[submodule "crates/yttrium/safe7579"]
	path = crates/yttrium/safe7579
	url = https://github.com/rhinestonewtf/safe7579
