[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.79"

[workspace.dependencies]
# Errors/Result
eyre = "0.6.12"
thiserror = "1.0"

# Async
tokio = { version = "1.17", features = [] }

# Networking
reqwest = { version = "0.12.5", features = ["json"] }

# Serialization
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# Logging
oslog = "0.2.0"
log = "0.4.20"

# [profile.release]
# lto = true
# codegen-units = 1
# panic = "abort"

# [profile.dev]
# debug = 0
