[workspace]
members = [
  "crates/*",
  "crates/yttrium_dart/rust",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.79"
license = "Apache-2.0"

[workspace.dependencies]
# Errors/Result
eyre = "0.6.12"
thiserror = "1.0"

# Async
tokio = { version = "1.17", features = [] }
futures = "0.3.31"

# Networking
reqwest = { version = "0.12.5", features = ["json"] }

# Serialization
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# Logging
oslog = "0.2.0"
log = "0.4.20"

alloy = "0.6.1"
alloy-provider = "0.6.1"
erc6492 = { git = "https://github.com/reown-com/erc6492.git", branch = "main" }

serial_test = "3.2.0"

# The values have been configured this way to prevent crashes in Swift debug builds with the default settings.
[profile.release]
debug = true
lto = true
opt-level = 0


codegen-units = 1
# panic = "abort"
# strip = true - it removes kotlin-bindings


# [profile.dev]
# debug = 0
