{
  "openapi": "3.0.3",
  "info": {
    "title": "WalletConnect Pay API",
    "description": "API for the WalletConnect Pay service",
    "contact": {
      "name": "WalletConnect",
      "url": "https://walletconnect.com"
    },
    "license": {
      "name": ""
    },
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://api.pay.walletconnect.com"
    }
  ],
  "paths": {
    "/v1/gateway/payment/{id}": {
      "get": {
        "tags": [
          "Gateway"
        ],
        "summary": "Get a payment",
        "description": "This endpoint returns only basic information to display to the user to begin the payment flow.",
        "operationId": "gatewayGetPayment",
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Payment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/payment/{id}/confirm": {
      "post": {
        "tags": [
          "Gateway"
        ],
        "summary": "Confirm a payment",
        "description": "This endpoint confirms a payment and submits it to the blockchain for processing.\nThis is the COMMITMENT point - after this succeeds, the payment is durable.",
        "operationId": "confirm_payment_handler",
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Payment ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PaymentId"
            }
          },
          {
            "name": "maxPollMs",
            "in": "query",
            "description": "Maximum time to long-poll for payment status, in milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment confirmed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/payment/{id}/fetch": {
      "post": {
        "tags": [
          "Gateway"
        ],
        "summary": "Fetches an action",
        "description": "This endpoint fetches an action for a payment.",
        "operationId": "fetch_handler",
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Payment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Action built successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/payment/{id}/options": {
      "post": {
        "tags": [
          "Gateway"
        ],
        "summary": "Get payment options",
        "description": "This endpoint takes a list of accounts and returns a list of options that can be used to complete the payment.",
        "operationId": "gatewayGetPaymentOptions",
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Payment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePaymentInfo",
            "in": "query",
            "description": "Whether to include payment information in the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentOptionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment options retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentOptionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/payment/{id}/status": {
      "get": {
        "tags": [
          "Gateway"
        ],
        "summary": "Get the payment status",
        "description": "Retrieves the status of a payment by its ID. Returns a polling delay to wait\nbefore checking the status again.",
        "operationId": "gatewayGetPaymentStatus",
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Payment ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PaymentId"
            }
          },
          {
            "name": "maxPollMs",
            "in": "query",
            "description": "Maximum time to long-poll for payment status, in milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchant/payment": {
      "post": {
        "tags": [
          "Merchant"
        ],
        "summary": "Create a new payment",
        "description": "Creates a new payment with the provided payment details.",
        "operationId": "merchantCreatePayment",
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Merchant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchant/payment/{id}/status": {
      "get": {
        "tags": [
          "Merchant"
        ],
        "summary": "Get the payment status",
        "description": "Retrieves the status of a payment by its ID. Returns a polling delay to wait\nbefore checking the status again.",
        "operationId": "merchantGetPaymentStatus",
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Merchant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Payment ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PaymentId"
            }
          },
          {
            "name": "maxPollMs",
            "in": "query",
            "description": "Maximum time to long-poll for payment status, in milliseconds.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Action": {
        "oneOf": [
          {
            "type": "object",
            "description": "An action that requires a wallet RPC call to complete",
            "required": [
              "data",
              "type"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/WalletRpcAction",
                "description": "An action that requires a wallet RPC call to complete"
              },
              "type": {
                "type": "string",
                "enum": [
                  "walletRpc"
                ]
              }
            }
          },
          {
            "type": "object",
            "description": "An action that requires building to complete",
            "required": [
              "data",
              "type"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/Build",
                "description": "An action that requires building to complete"
              },
              "type": {
                "type": "string",
                "enum": [
                  "build"
                ]
              }
            }
          }
        ],
        "example": {
          "data": {
            "chain_id": "eip155:8453",
            "method": "eth_signTypedData_v4",
            "params": [
              "0x0000000000000000000000000000000000000000",
              "{\"domain\":{\"name\":\"USD Coin\",\"version\":\"2\",\"chainId\":\"0x2105\",\"verifyingContract\":\"0x0000000000000000000000000000000000000000\"},\"types\":{\"EIP712Domain\":[{\"type\":\"string\",\"name\":\"name\"},{\"type\":\"string\",\"name\":\"version\"},{\"type\":\"uint256\",\"name\":\"chainId\"},{\"type\":\"address\",\"name\":\"verifyingContract\"}],\"TransferWithAuthorization\":[{\"type\":\"address\",\"name\":\"from\"},{\"type\":\"address\",\"name\":\"to\"},{\"type\":\"uint256\",\"name\":\"value\"},{\"type\":\"uint256\",\"name\":\"validAfter\"},{\"type\":\"uint256\",\"name\":\"validBefore\"},{\"type\":\"bytes32\",\"name\":\"nonce\"}]},\"primaryType\":\"TransferWithAuthorization\",\"message\":{\"from\":\"0x0000000000000000000000000000000000000000\",\"nonce\":\"0x0000000000000000000000000000000000000000000000000000000000000000\",\"to\":\"0x0000000000000000000000000000000000000000\",\"validAfter\":\"0x0\",\"validBefore\":\"0x0\",\"value\":\"0x0\"}}"
            ]
          },
          "type": "walletRpc"
        }
      },
      "Amount": {
        "type": "object",
        "required": [
          "unit",
          "value",
          "display"
        ],
        "properties": {
          "display": {
            "$ref": "#/components/schemas/AmountDisplay",
            "description": "Display information for the amount"
          },
          "unit": {
            "type": "string",
            "description": "Currency unit, prefixed with either \"iso4217/\" or \"caip19/\""
          },
          "value": {
            "type": "string",
            "description": "Amount value, in the currency unit's minor units"
          }
        },
        "example": {
          "display": {
            "assetName": "USD Coin",
            "assetSymbol": "USDC",
            "decimals": 6,
            "iconUrl": "https://assets.walletconnect.com/usdc.png",
            "networkIconUrl": "https://assets.walletconnect.com/base.png",
            "networkName": "Base"
          },
          "unit": "caip19/eip155:8453/erc20:0xUSDC...",
          "value": "1000000"
        }
      },
      "AmountDisplay": {
        "type": "object",
        "required": [
          "assetSymbol",
          "assetName",
          "decimals"
        ],
        "properties": {
          "assetName": {
            "type": "string",
            "description": "Full name of the asset"
          },
          "assetSymbol": {
            "type": "string",
            "description": "Ticker/symbol of the asset"
          },
          "decimals": {
            "type": "integer",
            "format": "int32",
            "description": "Number of minor decimals of the asset",
            "minimum": 0
          },
          "iconUrl": {
            "type": "string",
            "description": "URL of the icon of the asset (if token)",
            "nullable": true
          },
          "networkIconUrl": {
            "type": "string",
            "description": "URL of the icon of the network (if token)",
            "nullable": true
          },
          "networkName": {
            "type": "string",
            "description": "Name of the network of the asset (if token)",
            "nullable": true
          }
        },
        "example": {
          "assetName": "USD Coin",
          "assetSymbol": "USDC",
          "decimals": 6,
          "iconUrl": "https://assets.walletconnect.com/usdc.png",
          "networkIconUrl": "https://assets.walletconnect.com/base.png",
          "networkName": "Base"
        }
      },
      "AmountParameter": {
        "type": "object",
        "required": [
          "unit",
          "value"
        ],
        "properties": {
          "unit": {
            "type": "string",
            "description": "Currency unit, prefixed with either \"iso4217/\" or \"caip19/\""
          },
          "value": {
            "type": "string",
            "description": "Amount value, in the currency unit's minor units"
          }
        },
        "example": {
          "unit": "iso4217/USD",
          "value": "100"
        }
      },
      "Build": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "string"
          }
        },
        "example": {
          "data": "..."
        }
      },
      "BuyerInfo": {
        "type": "object",
        "required": [
          "accountCaip10",
          "accountProviderName"
        ],
        "properties": {
          "accountCaip10": {
            "type": "string",
            "description": "Account CAIP-10"
          },
          "accountProviderIcon": {
            "type": "string",
            "description": "Account provider icon URL",
            "nullable": true
          },
          "accountProviderName": {
            "type": "string",
            "description": "Account provider name"
          }
        },
        "example": {
          "accountCaip10": "eip155:1:0x0000000000000000000000000000000000000000",
          "accountProviderIcon": "https://example.com/icon.png",
          "accountProviderName": "Wallet"
        }
      },
      "CollectData": {
        "type": "object",
        "required": [
          "fields"
        ],
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectDataField"
            }
          }
        },
        "example": {
          "fields": [
            {
              "id": "fullName",
              "name": "Full name",
              "required": true,
              "type": "text"
            },
            {
              "id": "dob",
              "name": "Date of birth",
              "required": true,
              "type": "date"
            }
          ]
        }
      },
      "CollectDataField": {
        "type": "object",
        "required": [
          "type",
          "id",
          "name",
          "required"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the field for submission"
          },
          "name": {
            "type": "string",
            "description": "Human readable name of the field"
          },
          "required": {
            "type": "boolean",
            "description": "Requiredness of the field"
          },
          "type": {
            "$ref": "#/components/schemas/CollectDataFieldType",
            "description": "Type of the field"
          }
        },
        "example": {
          "id": "fullName",
          "name": "Full name",
          "required": true,
          "type": "text"
        }
      },
      "CollectDataFieldResult": {
        "type": "object",
        "required": [
          "id",
          "value"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "example": {
          "id": "fullName",
          "value": "John"
        }
      },
      "CollectDataFieldType": {
        "type": "string",
        "enum": [
          "text",
          "date"
        ]
      },
      "CollectDataResult": {
        "type": "object",
        "required": [
          "fields"
        ],
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectDataFieldResult"
            }
          }
        },
        "example": {
          "fields": [
            {
              "id": "fullName",
              "value": "John Smith"
            },
            {
              "id": "dob",
              "value": "1990-01-01"
            }
          ]
        }
      },
      "ConfirmPaymentRequest": {
        "type": "object",
        "required": [
          "optionId",
          "results"
        ],
        "properties": {
          "collectedData": {
            "nullable": true,
            "$ref": "#/components/schemas/CollectDataResult"
          },
          "optionId": {
            "type": "string",
            "description": "ID of the option to confirm"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfirmPaymentResult"
            }
          }
        },
        "example": {
          "collectedData": {
            "fields": [
              {
                "id": "fullName",
                "value": "John Smith"
              },
              {
                "id": "dob",
                "value": "1990-01-01"
              }
            ]
          },
          "optionId": "opt_123",
          "results": [
            {
              "data": [
                "0x123"
              ],
              "type": "walletRpc"
            }
          ]
        }
      },
      "ConfirmPaymentResponse": {
        "type": "object",
        "required": [
          "status",
          "isFinal"
        ],
        "properties": {
          "isFinal": {
            "type": "boolean",
            "description": "True if the payment is in a final state and no longer requires polling"
          },
          "pollInMs": {
            "type": "integer",
            "format": "int64",
            "description": "Time to poll for payment status, in milliseconds. Not present if the\npayment is in a final state.",
            "minimum": 0,
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/PaymentStatus",
            "description": "Payment status"
          }
        },
        "example": {
          "isFinal": true,
          "pollInMs": null,
          "status": "succeeded"
        }
      },
      "ConfirmPaymentResult": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "data",
              "type"
            ],
            "properties": {
              "data": {
                "type": "array",
                "items": {}
              },
              "type": {
                "type": "string",
                "enum": [
                  "walletRpc"
                ]
              }
            }
          }
        ],
        "example": {
          "data": [
            "0x123"
          ],
          "type": "walletRpc"
        }
      },
      "CreatePayment": {
        "type": "object",
        "required": [
          "referenceId",
          "amount"
        ],
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/AmountParameter",
            "description": "Amount to be paid"
          },
          "referenceId": {
            "type": "string",
            "description": "Merchant/PSP order ID"
          }
        },
        "example": {
          "amount": {
            "unit": "iso4217/USD",
            "value": "100"
          },
          "referenceId": "ORDER-123"
        }
      },
      "CreatePaymentResponse": {
        "type": "object",
        "required": [
          "paymentId",
          "status",
          "expiresAt",
          "isFinal",
          "gatewayUrl"
        ],
        "properties": {
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "Payment expiration timestamp, in seconds since epoch",
            "minimum": 0
          },
          "gatewayUrl": {
            "type": "string",
            "description": "Gateway URL to redirect the user to for payment"
          },
          "isFinal": {
            "type": "boolean",
            "description": "True if the payment is in a final state and no longer requires polling"
          },
          "paymentId": {
            "$ref": "#/components/schemas/PaymentId",
            "description": "Payment ID"
          },
          "pollInMs": {
            "type": "integer",
            "format": "int64",
            "description": "Time to poll for payment status, in milliseconds. Not present if the\npayment is in a final state.",
            "minimum": 0,
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/PaymentStatus",
            "description": "Payment status"
          }
        },
        "example": {
          "expiresAt": 1718236800,
          "gatewayUrl": "https://api.pay.walletconnect.com/pay_123",
          "isFinal": false,
          "paymentId": "pay_a7a2ecc101KF215ET1TYXBBP538CACCVNP",
          "pollInMs": 1000,
          "status": "requires_action"
        }
      },
      "ErrorCode": {
        "type": "string",
        "description": "Standard error codes for API responses.\n\nThis prevents typos like \"invlaid_params\" from reaching production.",
        "enum": [
          "rate_limited",
          "invalid_params",
          "params_validation",
          "payment_not_found",
          "internal_error",
          "invalid_api_key",
          "unauthorized",
          "forbidden",
          "invalid_state",
          "missing_api_key",
          "missing_merchant_api_key",
          "missing_merchant_id",
          "header_not_ascii",
          "not_sandbox_api_key",
          "merchant_not_found",
          "merchant_exists",
          "api_key_not_found",
          "partner_not_found",
          "wallet_not_found"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response structure for API errors.",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "FetchRequest": {
        "type": "object",
        "required": [
          "optionId",
          "data"
        ],
        "properties": {
          "data": {
            "type": "string",
            "description": "Extra data to be passed"
          },
          "optionId": {
            "type": "string",
            "description": "ID of the option to build an action for"
          }
        },
        "example": {
          "data": "...",
          "optionId": "opt_123"
        }
      },
      "FetchResponse": {
        "type": "object",
        "required": [
          "actions"
        ],
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Action"
            }
          }
        },
        "example": {
          "actions": [
            {
              "data": {
                "chain_id": "eip155:8453",
                "method": "eth_signTypedData_v4",
                "params": [
                  "0x0000000000000000000000000000000000000000",
                  "{\"domain\":{\"name\":\"USD Coin\",\"version\":\"2\",\"chainId\":\"0x2105\",\"verifyingContract\":\"0x0000000000000000000000000000000000000000\"},\"types\":{\"EIP712Domain\":[{\"type\":\"string\",\"name\":\"name\"},{\"type\":\"string\",\"name\":\"version\"},{\"type\":\"uint256\",\"name\":\"chainId\"},{\"type\":\"address\",\"name\":\"verifyingContract\"}],\"TransferWithAuthorization\":[{\"type\":\"address\",\"name\":\"from\"},{\"type\":\"address\",\"name\":\"to\"},{\"type\":\"uint256\",\"name\":\"value\"},{\"type\":\"uint256\",\"name\":\"validAfter\"},{\"type\":\"uint256\",\"name\":\"validBefore\"},{\"type\":\"bytes32\",\"name\":\"nonce\"}]},\"primaryType\":\"TransferWithAuthorization\",\"message\":{\"from\":\"0x0000000000000000000000000000000000000000\",\"nonce\":\"0x0000000000000000000000000000000000000000000000000000000000000000\",\"to\":\"0x0000000000000000000000000000000000000000\",\"validAfter\":\"0x0\",\"validBefore\":\"0x0\",\"value\":\"0x0\"}}"
                ]
              },
              "type": "walletRpc"
            }
          ]
        }
      },
      "GetPaymentOptionsRequest": {
        "type": "object",
        "required": [
          "accounts"
        ],
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refresh": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "example": {
          "accounts": [
            "eip155:8453:0x123"
          ],
          "refresh": null
        }
      },
      "GetPaymentOptionsResponse": {
        "type": "object",
        "required": [
          "options"
        ],
        "properties": {
          "collectData": {
            "nullable": true,
            "$ref": "#/components/schemas/CollectData"
          },
          "info": {
            "nullable": true,
            "$ref": "#/components/schemas/GetPaymentResponse"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentOption"
            }
          }
        },
        "example": {
          "collectData": {
            "fields": [
              {
                "id": "fullName",
                "name": "Full name",
                "required": true,
                "type": "text"
              },
              {
                "id": "dob",
                "name": "Date of birth",
                "required": true,
                "type": "date"
              }
            ]
          },
          "info": {
            "amount": {
              "display": {
                "assetName": "USD Coin",
                "assetSymbol": "USDC",
                "decimals": 6,
                "iconUrl": "https://assets.walletconnect.com/usdc.png",
                "networkIconUrl": "https://assets.walletconnect.com/base.png",
                "networkName": "Base"
              },
              "unit": "caip19/eip155:8453/erc20:0xUSDC...",
              "value": "1000000"
            },
            "buyer": {
              "accountCaip10": "eip155:1:0x0000000000000000000000000000000000000000",
              "accountProviderIcon": "https://example.com/icon.png",
              "accountProviderName": "Wallet"
            },
            "expiresAt": 1700000000,
            "merchant": {
              "iconUrl": "https://example.com/icon.png",
              "name": "Merchant"
            },
            "status": "requires_action"
          },
          "options": [
            {
              "account": "eip155:1:0x0000000000000000000000000000000000000000",
              "actions": [
                {
                  "data": {
                    "chain_id": "eip155:8453",
                    "method": "eth_signTypedData_v4",
                    "params": [
                      "0x0000000000000000000000000000000000000000",
                      "{\"domain\":{\"name\":\"USD Coin\",\"version\":\"2\",\"chainId\":\"0x2105\",\"verifyingContract\":\"0x0000000000000000000000000000000000000000\"},\"types\":{\"EIP712Domain\":[{\"type\":\"string\",\"name\":\"name\"},{\"type\":\"string\",\"name\":\"version\"},{\"type\":\"uint256\",\"name\":\"chainId\"},{\"type\":\"address\",\"name\":\"verifyingContract\"}],\"TransferWithAuthorization\":[{\"type\":\"address\",\"name\":\"from\"},{\"type\":\"address\",\"name\":\"to\"},{\"type\":\"uint256\",\"name\":\"value\"},{\"type\":\"uint256\",\"name\":\"validAfter\"},{\"type\":\"uint256\",\"name\":\"validBefore\"},{\"type\":\"bytes32\",\"name\":\"nonce\"}]},\"primaryType\":\"TransferWithAuthorization\",\"message\":{\"from\":\"0x0000000000000000000000000000000000000000\",\"nonce\":\"0x0000000000000000000000000000000000000000000000000000000000000000\",\"to\":\"0x0000000000000000000000000000000000000000\",\"validAfter\":\"0x0\",\"validBefore\":\"0x0\",\"value\":\"0x0\"}}"
                    ]
                  },
                  "type": "walletRpc"
                }
              ],
              "amount": {
                "display": {
                  "assetName": "USD Coin",
                  "assetSymbol": "USDC",
                  "decimals": 6,
                  "iconUrl": "https://assets.walletconnect.com/usdc.png",
                  "networkIconUrl": "https://assets.walletconnect.com/base.png",
                  "networkName": "Base"
                },
                "unit": "caip19/eip155:8453/erc20:0xUSDC...",
                "value": "1000000"
              },
              "etaS": 5,
              "id": "opt_123"
            }
          ]
        }
      },
      "GetPaymentResponse": {
        "type": "object",
        "required": [
          "status",
          "amount",
          "expiresAt",
          "merchant"
        ],
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/Amount",
            "description": "Amount to be paid"
          },
          "buyer": {
            "nullable": true,
            "$ref": "#/components/schemas/BuyerInfo"
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "Payment expiration timestamp, in seconds since epoch",
            "minimum": 0
          },
          "merchant": {
            "$ref": "#/components/schemas/MerchantInfo",
            "description": "Merchant information"
          },
          "status": {
            "$ref": "#/components/schemas/PaymentStatus",
            "description": "Payment status"
          }
        },
        "example": {
          "amount": {
            "display": {
              "assetName": "USD Coin",
              "assetSymbol": "USDC",
              "decimals": 6,
              "iconUrl": "https://assets.walletconnect.com/usdc.png",
              "networkIconUrl": "https://assets.walletconnect.com/base.png",
              "networkName": "Base"
            },
            "unit": "caip19/eip155:8453/erc20:0xUSDC...",
            "value": "1000000"
          },
          "buyer": {
            "accountCaip10": "eip155:1:0x0000000000000000000000000000000000000000",
            "accountProviderIcon": "https://example.com/icon.png",
            "accountProviderName": "Wallet"
          },
          "expiresAt": 1700000000,
          "merchant": {
            "iconUrl": "https://example.com/icon.png",
            "name": "Merchant"
          },
          "status": "requires_action"
        }
      },
      "GetPaymentStatusResponse": {
        "type": "object",
        "required": [
          "status",
          "isFinal"
        ],
        "properties": {
          "isFinal": {
            "type": "boolean",
            "description": "True if the payment is in a final state and no longer requires polling"
          },
          "pollInMs": {
            "type": "integer",
            "format": "int64",
            "description": "Time to poll for payment status, in milliseconds. Not present if the\npayment is in a final state.",
            "minimum": 0,
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/PaymentStatus",
            "description": "Payment status"
          }
        },
        "example": {
          "isFinal": false,
          "pollInMs": 1000,
          "status": "requires_action"
        }
      },
      "MerchantInfo": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "iconUrl": {
            "type": "string",
            "description": "Merchant icon URL",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Merchant name"
          }
        },
        "example": {
          "iconUrl": "https://example.com/icon.png",
          "name": "Merchant"
        }
      },
      "PaymentId": {
        "type": "string",
        "description": "Payment ID",
        "examples": [
          "pay_7fa2ecc101ARZ3NDEKTSV4RRFFQ69G5FAV"
        ]
      },
      "PaymentOption": {
        "type": "object",
        "required": [
          "id",
          "account",
          "amount",
          "etaS",
          "actions"
        ],
        "properties": {
          "account": {
            "type": "string",
            "description": "The account to use for the option"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Action"
            },
            "description": "Actions required to complete the option"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount",
            "description": "The option's token and amount"
          },
          "etaS": {
            "type": "integer",
            "format": "int64",
            "description": "Estimated time to complete the option, in seconds",
            "minimum": 0
          },
          "id": {
            "type": "string",
            "description": "ID of the option to be used to refer to it in other requests. May be up to 2^16 characters."
          }
        },
        "example": {
          "account": "eip155:1:0x0000000000000000000000000000000000000000",
          "actions": [
            {
              "data": {
                "chain_id": "eip155:8453",
                "method": "eth_signTypedData_v4",
                "params": [
                  "0x0000000000000000000000000000000000000000",
                  "{\"domain\":{\"name\":\"USD Coin\",\"version\":\"2\",\"chainId\":\"0x2105\",\"verifyingContract\":\"0x0000000000000000000000000000000000000000\"},\"types\":{\"EIP712Domain\":[{\"type\":\"string\",\"name\":\"name\"},{\"type\":\"string\",\"name\":\"version\"},{\"type\":\"uint256\",\"name\":\"chainId\"},{\"type\":\"address\",\"name\":\"verifyingContract\"}],\"TransferWithAuthorization\":[{\"type\":\"address\",\"name\":\"from\"},{\"type\":\"address\",\"name\":\"to\"},{\"type\":\"uint256\",\"name\":\"value\"},{\"type\":\"uint256\",\"name\":\"validAfter\"},{\"type\":\"uint256\",\"name\":\"validBefore\"},{\"type\":\"bytes32\",\"name\":\"nonce\"}]},\"primaryType\":\"TransferWithAuthorization\",\"message\":{\"from\":\"0x0000000000000000000000000000000000000000\",\"nonce\":\"0x0000000000000000000000000000000000000000000000000000000000000000\",\"to\":\"0x0000000000000000000000000000000000000000\",\"validAfter\":\"0x0\",\"validBefore\":\"0x0\",\"value\":\"0x0\"}}"
                ]
              },
              "type": "walletRpc"
            }
          ],
          "amount": {
            "display": {
              "assetName": "USD Coin",
              "assetSymbol": "USDC",
              "decimals": 6,
              "iconUrl": "https://assets.walletconnect.com/usdc.png",
              "networkIconUrl": "https://assets.walletconnect.com/base.png",
              "networkName": "Base"
            },
            "unit": "caip19/eip155:8453/erc20:0xUSDC...",
            "value": "1000000"
          },
          "etaS": 5,
          "id": "opt_123"
        }
      },
      "PaymentStatus": {
        "type": "string",
        "description": "Payment status representing the lifecycle of a payment.",
        "enum": [
          "requires_action",
          "processing",
          "succeeded",
          "failed",
          "expired"
        ]
      },
      "WalletRpcAction": {
        "type": "object",
        "required": [
          "chain_id",
          "method",
          "params"
        ],
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "params": {
            "type": "array",
            "items": {}
          }
        },
        "example": {
          "chain_id": "eip155:8453",
          "method": "eth_signTypedData_v4",
          "params": [
            "0x0000000000000000000000000000000000000000",
            "{\"domain\":{\"name\":\"USD Coin\",\"version\":\"2\",\"chainId\":\"0x2105\",\"verifyingContract\":\"0x0000000000000000000000000000000000000000\"},\"types\":{\"EIP712Domain\":[{\"type\":\"string\",\"name\":\"name\"},{\"type\":\"string\",\"name\":\"version\"},{\"type\":\"uint256\",\"name\":\"chainId\"},{\"type\":\"address\",\"name\":\"verifyingContract\"}],\"TransferWithAuthorization\":[{\"type\":\"address\",\"name\":\"from\"},{\"type\":\"address\",\"name\":\"to\"},{\"type\":\"uint256\",\"name\":\"value\"},{\"type\":\"uint256\",\"name\":\"validAfter\"},{\"type\":\"uint256\",\"name\":\"validBefore\"},{\"type\":\"bytes32\",\"name\":\"nonce\"}]},\"primaryType\":\"TransferWithAuthorization\",\"message\":{\"from\":\"0x0000000000000000000000000000000000000000\",\"nonce\":\"0x0000000000000000000000000000000000000000000000000000000000000000\",\"to\":\"0x0000000000000000000000000000000000000000\",\"validAfter\":\"0x0\",\"validBefore\":\"0x0\",\"value\":\"0x0\"}}"
          ]
        }
      }
    },
    "securitySchemes": {
      "API Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Key"
      }
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [
    {
      "name": "Merchant",
      "description": "Merchant-facing API"
    },
    {
      "name": "Gateway",
      "description": "Gateway API for wallets to fulfill payments"
    }
  ]
}