[package]
name = "yttrium"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[features]
full = ["uniffi"]
uniffi = ["dep:uniffi", "dep:uniffi_macros"]
test_pimlico_api = []

[dependencies]
uniffi = { version = "0.28.1", optional = true }
uniffi_macros = { version = "0.28.1", optional = true }
# Ethereum
alloy = { version = "0.3.6", features = [
    "contract",
    "network",
    "providers",
    "node-bindings",
    "rpc-types-trace",
    "signer-mnemonic",
    "eip712",
] }
alloy-provider = { version = "0.3.6", features = ["erc4337-api"] }
# foundry-block-explorers = "0.2.3"
getrandom = { version = "0.2", features = ["js"] }

# Error/Result
eyre.workspace = true
thiserror.workspace = true

# Async
tokio.workspace = true

# Serialization
serde.workspace = true
serde_json.workspace = true

# Env vars
dotenvy = "0.15.7"

# Other
hex = "0.4.3"
async-trait = "0.1.83"
tracing = "0.1.40"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]

# Networking
reqwest.workspace = true

[dev-dependencies]
# mocking
wiremock = "0.6.0"
erc6492 = { git = "https://github.com/reown-com/erc6492.git", branch = "feat/verify-message-hash" }

# Networking
reqwest.workspace = true

[build-dependencies]
serde_json = "1"
