# https://docs.rs/getrandom/latest/getrandom/#webassembly-support
[target.wasm32-unknown-unknown]
rustflags = '--cfg getrandom_backend="wasm_js"'

# Android-specific link-time optimizations for size reduction
# These flags help reduce binary size by removing dead code
# Note: We don't use -Wl,--strip-all here as we manually strip with llvm-strip --strip-all after build
# to preserve UniFFI bindings during the build process
[target.aarch64-linux-android]
rustflags = ["-C", "link-arg=-Wl,--gc-sections"]

[target.armv7-linux-androideabi]
rustflags = ["-C", "link-arg=-Wl,--gc-sections"]

[target.x86_64-linux-android]
rustflags = ["-C", "link-arg=-Wl,--gc-sections"]
