name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write # Needed for Flutter CI which auto-updates bindings

env:
  CARGO_TERM_COLOR: always
  RUST_MSRV: 1.90.0

jobs:
  rust_RUST_MSRV:
    name: Rust MSRV - build & lint
    runs-on: [self-hosted, aws-ecs-16cpu-64mem-40disk-60m]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/free-disk-space
        with:
          runner-type: self-hosted
      - run: apt install -y --no-install-recommends clang
      - run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain=none
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - run: rustup install ${{ env.RUST_MSRV }} -c clippy -t wasm32-unknown-unknown && rustup default ${{ env.RUST_MSRV }}
      - run: rustup toolchain install nightly -c rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - uses: extractions/setup-just@v2
      - run: just clippy
      - run: cargo build -p yttrium --features=wasm --lib --target wasm32-unknown-unknown
      - name: Install cargo-udeps (cached)
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-udeps
      - run: just _rust_ci

  rust_RUST_MSRV_test:
    name: Rust MSRV - test
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/free-disk-space
        with:
          runner-type: ubuntu
      - run: rustup install ${{ env.RUST_MSRV }} -c clippy && rustup default ${{ env.RUST_MSRV }}
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - run: rustup toolchain install nightly -c rustfmt
      - run: rustup target add wasm32-unknown-unknown
      - uses: extractions/setup-just@v2
      - uses: ./.github/actions/forked-state-docker
        with:
          action: start
      - run: RUST_BACKTRACE=1 RUST_LOG=yttrium=trace cargo test --features=full,test_depends_on_env_REOWN_PROJECT_ID --lib --bins
        env:
          REOWN_PROJECT_ID: ${{ vars.REOWN_PROJECT_ID }}
      - uses: ./.github/actions/forked-state-docker
        if: failure()
        with:
          action: logs
      - uses: ./.github/actions/forked-state-docker
        if: always()
        with:
          action: cleanup

  rust_stable:
    name: Rust stable - build & lint
    runs-on: [self-hosted, aws-ecs-16cpu-64mem-40disk-60m]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/free-disk-space
        with:
          runner-type: self-hosted
      - run: apt install -y --no-install-recommends clang
      - run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain=none
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - run: rustup install stable -c clippy -t wasm32-unknown-unknown && rustup default stable
      - run: rustup toolchain install nightly -c rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - uses: extractions/setup-just@v2
      - run: just clippy
      - run: cargo build -p yttrium --features=wasm --lib --target wasm32-unknown-unknown
      - name: Install cargo-udeps (cached)
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-udeps
      - run: just _rust_ci

  rust_stable_test:
    name: Rust stable - test
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/free-disk-space
        with:
          runner-type: ubuntu
      - run: rustup update stable && rustup default stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - run: rustup toolchain install nightly -c rustfmt
      - run: rustup target add wasm32-unknown-unknown
      - uses: extractions/setup-just@v2
      - uses: ./.github/actions/forked-state-docker
        with:
          action: start
      - run: RUST_BACKTRACE=1 RUST_LOG=yttrium=trace cargo test --features=full,test_depends_on_env_REOWN_PROJECT_ID --lib --bins
        env:
          REOWN_PROJECT_ID: ${{ vars.REOWN_PROJECT_ID }}
      - uses: ./.github/actions/forked-state-docker
        if: failure()
        with:
          action: logs
      - uses: ./.github/actions/forked-state-docker
        if: always()
        with:
          action: cleanup

  build_swift_and_test:
    name: Swift Package - latest
    runs-on: macos-latest-xlarge
    strategy:
      matrix:
        config:
          - debug
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/free-disk-space
        with:
          runner-type: macos
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.4
      - run: rustup update ${{ env.RUST_MSRV }} && rustup default ${{ env.RUST_MSRV }}
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Select Xcode 15.4
        run: sudo xcode-select -s /Applications/Xcode.app

      # Build bindings
      - run: make build-xcframework
      - run: make build-utils-xcframework

      # Test that it compiles
      - name: Build ${{ matrix.config }}
        run: make CONFIG=${{ matrix.config }} build-swift-apple-platforms

  build-kotlin:
    runs-on: [self-hosted, aws-ecs-8cpu-32mem-55disk-45m]

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/free-disk-space
        with:
          runner-type: self-hosted-kotlin
      - name: Install Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r27c

      - name: Install Rust toolchain with all Android targets
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain ${{ env.RUST_MSRV }}
          source "$HOME/.cargo/env"
          rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Set up Java 11 and 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: |
            11
            17

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install cargo-ndk (cached)
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-ndk

      - name: Build Rust library
        run: ./generate_kotlin_locally.sh
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          RUSTFLAGS: "-C link-arg=-Wl,--gc-sections"

  merge_check:
    name: Merge Check
    needs: [rust_RUST_MSRV, build_swift_and_test, build-kotlin]
    if: ${{ always() && !cancelled() && !failure() }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "CI is successful"
